<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.css">
		<link rel="stylesheet" href="style.css">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
		<script src="script.js"></script>
	</head>
	<body>
		<div class="container" ng-app="studentApp">
			<h1 class="page-header">Student List</h1>
			<div class="panel panel-default" ng-controller="StudentsController">
				<!-- Default panel contents -->
				<div class="panel-heading">COMP 9636 Students</div>

				<!-- Table -->
				<form ng-submit="addStudent()">
					<table class="table students">
						<thead>
							<tr>
								<th>#</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Twitter</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="student in students track by $id($index)">
								<td>{{student.index}}</td>
								<td class="wide">{{student.first_name}}</td>
								<td class="wide">{{student.last_name}}</td>
								<td class="wide">{{student.twitter_username}}</td>
								<td><a href="#" class="btn btn-danger" ng-click="remove(student)">&times;</a></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td>
									<input class="btn btn-primary" type="submit" value="add">
								</td>
								<td class="wide">
									<div class="form-group">
										<input type="text" class="form-control" ng-model="first_name" placeholder="First Name">
									</div>
								</td>
								<td class="wide">
									<div class="form-group">
										<input type="text" class="form-control" ng-model="last_name" placeholder="Last Name">
									</div>
								</td>
								<td class="wide">
									<div class="input-group">
										<span class="input-group-addon">@</span>
										<input type="text" class="form-control" ng-model="twitter_username" placeholder="Username">
									</div>
								</td>
								<td>
								</td>
							</tr>
						</tfoot>
					</table>
				</form>
			</div>
		</div>
	</body>
</html>

